/* .footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding:25px;
    height: 25px;
    color: ghostwhite;
    background-color: #2c7cd6;
    font-size: 16px;
    justify-content: space-between;
  }

  .footer-content{
      margin-top: 5px;
      margin-left: 550px;
  } */