<mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile><mat-card><img src="../../../assets/images/covid19-coronavirus-prevention-and-precaution-vector-30346449.jpg" height="100%" width="100%"></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card><img src="../../../assets/images/covid_poster_who.jpg" height="100%" width="100%"></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card><img src="../../../assets/images/MDIS_COVID-19_PrecautionaryMeasures_Mobilev2.jpg" height="100%" width="100%"></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card><img src="../../../assets/images/set-corona-virus-covid19-safety-260nw-1677986557.jpg" height="100%" width="100%"></mat-card></mat-grid-tile>
  </mat-grid-list>